<!-- Profile Picture & Basic Info -->
<div class="profile-info d-flex align-items-center">
      <div class="profile-picture-wrapper" style="position: relative;">
       <% if @user.avatar.attached? %>
            <%= image_tag url_for(@user.avatar), alt: "Profile Picture", class: "rounded-circle border border-white", style: "width: 150px; height: 150px; object-fit: cover;" %>
        <% else %>
            <%= image_tag('https://picsum.photos/100', alt: "Profile Picture", class: "rounded-circle border border-white", style: "width: 150px; height: 150px; object-fit: cover;") %>
        <% end %>
      </div>
      <div class="mt-3" style="margin-left: 1rem;">
        <h3><%= @user.name %></h3>
        <p class="text-muted">Your Account</p>
        <!-- Buttons Section -->
        <div class="mt-3">
          <%= link_to 'Add Story', '#', class: 'btn btn-secondary me-2' %>
          <%= link_to 'Edit Profile', '#', class: 'btn btn-primary' %>
        </div>
      </div>
</div>
