<div class="container mt-5">
  <!-- Cover Photo -->
  <div class="cover-photo" style="background-image: url('https://picsum.photos/1200/300'); height: 300px; background-size: cover; background-position: center;">
  </div>
  <%= render 'users/shared/profile', user: @user%>
  <%= render 'users/shared/nav_post'%>

  <!-- Main Content -->
  <div class="row mt-4">
    <div class="col-md-4">
      <%= render 'users/shared/intro',  user: @user %>
      <%= render 'users/shared/photo'%>
    </div>
    <div class="col-md-8">
      <%= render 'users/shared/input_post'%>
      <%= render 'users/shared/card'%>
    </div>
  </div>
</div>

<%= render 'users/shared/modal/post', user: @user %>
